@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.7;
}

header {
    background-color: #1a237e; /* Dark Blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #1a237e; /* Dark Blue */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

#profilepic {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

#about-me {
    background-color: #e8eaf6; /* Light Blue */
    color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#about-me h2 {
    color: #3949ab; /* Medium Blue */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 10px;
}

#about-me p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-indent: 50px;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project h3 {
    color: #3949ab; /* Medium Blue */
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.project img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    body {
        line-height: 1.8;
    }

    #about-me, .project {
        margin: 40px;
    }

    .project {
        display: flex;
        align-items: center;
    }

    .project img {
        width: 50%;
        margin-right: 20px;
    }

    .project h3, .project p {
        width: 50%;
    }
}